body {
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	font-family: "PT Sans", Arial, sans-serif;
	background: #f2f2f2;
}

h1 {
	font-family: "PT Sans Bold";
	font-weight: normal;
	font-size: 21px;
	line-height: 26px;
	text-transform: uppercase;
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "PT Sans Bold";
	src: url("../fonts/ptsansbold.woff") format("woff"),
	url("../fonts/ptsansbold.woff2") format("woff2");
}

@font-face {
	font-weight: normal;
	font-style: normal;
	font-family: "symbols-sedona";
	src: url("../fonts/symbols-sedona.woff") format("woff"),
	   url("../fonts/symbols-sedona.woff2") format("woff2");
}

[class^="icon-"]::before,
[class*=" icon-"]::before {
	display: inline-block;
	width: 1em;
	margin-right: 0.2em;
	margin-left: 0.2em;
	font-weight: normal;
	line-height: 1em;
	font-family: "symbols-sedona";
	text-align: center;
	text-transform: none;
	text-decoration: inherit;
	font-style: normal;
	font-variant: normal;
	speak: none;
}

.icon-facebook::before { content: "\66"; } /* "f" */
.icon-twitter::before { content: "\74"; } /* "t" */
.icon-up-dir::before { content: "\25b2"; } /* "▲" */
.icon-down-dir::before { content: "\25bc"; } /* "▼" */
.icon-star::before { content: "\2605"; } /* "★" */
.icon-check-off::before { content: "\2610"; } /* "☐" */
.icon-check-on::before { content: "\2611"; } /* "☑" */
.icon-calendar::before { content: "\e800"; } /* "" */
.icon-plus::before { content: "\e801"; } /* "" */
.icon-minus::before { content: "\e802"; } /* "" */
.icon-youtube::before { content: "\f39e"; } /* "" */


.container {
	margin: 0 auto;
	width: 1200px;
	background: #ffffff;
	box-shadow: 0 5px 15px rgba(0,1,1,0.2);
}

/*хедер*/

.main-header {
	padding: 14px 0 16px 0;
	position: relative;
	font-size: 0px;
	background: #ffffff;
}

.main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.main-navigation li {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 240px;
	text-align: center;
}

.main-navigation li:first-child {
	padding-left: 72px;
	text-align: left;
}

.main-navigation li:last-child {
	padding-right: 72px;
	text-align: right;
}

.main-navigation li:nth-child(2){
	margin-right: 240px;
}

.main-navigation a {
	display: inline-block;
	vertical-align: top;
	text-decoration: none;
	color: #000000;
	font-size: 14px;
	line-height: 26px;
	font-family: "PT Sans Bold";
	font-weight: normal;
}

.main-navigation a:hover{
	color: #81b3d2;
}

.main-navigation a:active{
	color: rgba(0,0,0,0.3);
}

.main-navigation .active {
	color: #766357;
}

.main-navigation .active:hover {
	color: #604e43;
}

.main-navigation .active:active {
	color: rgba(118,99,87,0.3);
}

.header-logo {
	width: 138px;
	position: absolute;
	left: 50%;
	top: 0px;
	margin-left: -69px;
}

/*главный логотип*/

.intro-bg {
	background: #75a9cb url("../img/index-bg.jpg");
	width:1200px;
	padding-top: 76px;
}

.intro-bg img {
	margin: 0 auto;
	display: block;
	margin-bottom: 23px;
}
.intro-bg img:last-child{
	margin:0;
}

/*Приемущества*/

.advantages {
	text-align: center;
	text-transform: uppercase;
	padding: 60px 0 53px;
}

.advantages h1 {
	margin: 0;
	padding: 0;
	display: inline-block;
	vertical-align: top;
	width: 500px;
	padding: 0;
	margin: 0;
	margin-bottom: 30px;
	font-family: "PT Sans bold";
	font-weight: normal;
}

.advantages p {
	padding: 0;
	margin: 0;
}

/*Приемущества первая, третья, четвёртая строка*/

.reasons {
	background: #81b3d2;
	padding: 0;
	width: 1200px;
}

.reason-item h2 {
	padding: 0;
	margin: 0;
	font-size: 21px;
	line-height: 21px;
	margin-bottom: 24px;
	font-family: "PT Sans Bold";
	font-weight: normal;
	text-transform: uppercase;
}

.reason-item p {
	margin: 0;
	padding: 0;
	margin-top: 21px;
	text-transform: uppercase;
}

.reasons .reason-item {
	display: inline-block;
	vertical-align: top;
	width: 400px;
	color: #ffffff;
	padding: 54px 0 51px;
	text-align: center;
}

.reason-gray .reason-item {
	background: #eeeeee;
	padding: 48px 0 58px;
	color: #000000;
}

.reasons .reasons-img {
	display: inline-block;
	vertical-align: top;
}

.reasons-img img{
	width: 800px;
	height: 256px;
	vertical-align: top;	
}

/*Приемущества вторая строка*/
.services {
	font-size: 0px;
}

.services .services-item {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 400px;
	padding: 60px 0 82px;
	text-align: center;
}

.services-item .icon-img {
	width: 76px;
	height: 76px;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 24px;
}

.services-item:last-child img {
	position: relative;
	bottom: 4px;	
}

.services-item h2 {
	margin: 0;
	padding: 0;
	margin-bottom: 25px;
	font-size: 21px;
	line-height: 21px;
	font-family: "PT Sans bold";
	font-weight: normal;
	text-transform: uppercase;
}

.services-item p{
	margin: 0;
	padding: 0;
	font-size: 14px;
	text-transform: uppercase;
}

/*Заинтересовались*/

.interest {
	padding: 56px 0 0;
	background: #ffffff;
}	
	
.interest h3 {
	margin: 0;
	padding: 0;
	width: 298px;
	margin: 0 auto 30px;
	text-align: center;
	font-size: 30px;
	line-height: 24px;
	font-family: "PT Sans bold";
	font-weight: normal;
	text-transform: uppercase;
}

.interest p {
	padding: 0;
	margin: 0;
	line-height: 24px;
	margin: 0 auto 47px;
	text-align: center;
	text-transform: uppercase;
}

.interest a {
	display: block;
	width: 568px;
	margin: 0 auto;
	padding: 30px 0;
	text-align: center;
	text-decoration: none;
	font-size: 21px;
	line-height: 26px;
	font-family: "PT Sans bold";
	font-weight: normal;
	color: #ffffff;
	background: #766357;
}

/*карта*/

.map {
	background: url("../img/map-bg.png");
	min-height: 593px;
	box-sizing: border-box;
	position: relative;
}

/*форма*/

.map iframe {
	width: 1200px;
	height: 593px;
	border: 0;
	padding: 0;
	margin: 0;
	display: block;
}

.map form {
	width: 568px;
	background: #ffffff;
	box-sizing: border-box;
	margin: 0 auto;
	font-size: 0px;
	font-family: "PT Sans bold";
	font-weight: normal;
	line-height: 26px;
	padding: 55px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -284px;
	box-shadow: 0 7px 15px rgba(0,1,1,0.15);
}

.map input {
	display: inline-block;
	vertical-align: top;
	background: #f2f2f2;
	width: 346px;
	height: 38px;
	border: 0;
	font-size: 14px;
	box-sizing: border-box;
	text-transform: uppercase;
}

.map input:focus {
	outline: none;
}

.map .check-field:hover {
	background: #ebebeb;
}

.map .check-field:focus {
	background: #ffffff;
	outline: 2px solid #e5e5e5;
}

.map .calendar {
	font-size: 21px;
	line-height: 26px;
	position: absolute;
	left: 479px;
	color: #c2c2c2;
}

.map .calendar:hover {
	color: #000000;
}

.map .calendar:active {
	color: #81b3d2;
}

.map input[name="check-in"] {
	padding-left: 15px;
}

.map input[name="check-out"] {
	padding-left: 12px;
}

.map label {
	display: inline-block;
	vertical-align: top;
	width: 112px;
	padding: 6px 0;
	box-sizing: border-box;
	font-size: 14px;
	margin-bottom: 29px;
}

.map label[for="children-field"]{
	width: 65px;
	margin-left: 53px;
}

.map label[for="check-out-field"] {
	margin-bottom: 30px;
}

.map input[name="adults"],input[name="children"]{
	width: 38px;
	box-sizing: border-box;
	text-align: center;
}

.map button {
	border: 0;
	margin: 0;
	padding: 0;
	width: 38px;
	height: 38px;
	box-sizing: border-box;
	font-size: 14px;
	background: #f2f2f2;
	color: #a9a9a9;
}

.map button:hover {
	color: #000000;
}

.map button:active {
	color: #81b3d2;
}

.map button[type="submit"] {
	margin: 0;
	margin-top: 25px;
	width: 458px;
	height: 58px;
	box-sizing: border-box;
	text-align: center;
	background: #81b3d2;
	color: #ffffff;
	font-size: 21px;
	line-height: 26px;
}

.map button[type="submit"]:hover {
	background: #669ec0;
}

.map button[type="submit"]:active {
	background: #669ec0;
	color: rgba(254,254,254, 0.3);
}

.map button:focus {
	outline: none;
}

/*футер*/

.main-footer {
	padding: 36px 0px;
	text-align: center;
	font-size: 0px;
	position: absolute;
	margin-top: -120px;
	background: rgba(254, 254, 254, 0.9);
	min-height: 120px;
	box-sizing: border-box;
	width: 1200px;
}

.catalog-footer {
	padding: 36px 0px;
	text-align: center;
	font-size: 0px;
	min-height: 120px;
	box-sizing: border-box;
	background: #fefefe;
	width: 1200px;
}

.footer-unit {
	display: inline-block;
	vertical-align: middle;
	width: 400px;	
}

.hashtag a {
	text-decoration: none;
	display: inline-block;
	vertical-align: middle;
	font-size: 21px;
	line-height: 26px;
	font-family: "PT Sans bold";
	font-weight: normal;
	color: #000000;
	text-transform: uppercase;
}

.social a {
	display: inline-block;
	vertical-align: top;
	width: 46px;
	height: 48px;
	box-sizing: border-box;
	background: #81b3d2;
	margin-right: 6px;
	padding: 13px 0;
	color: #ffffff;
}

.social a:hover {
	background: #669ec0;
}

.social a:active {
	background: #5496bd;
	color: rgba(255,255,255,0.3);
}

.social i {
	display: inline-block;
	vertical-align: top;
	font-size: 19px;
	line-height: 20px;
}

.social .icon-youtube{
	font-size: 23px;
	vertical-align: top;
}

.social a:last-child {
	margin-right: 0px;
	padding: 12px 0;
}

.html-academy span {
	text-align: left;
	display: inline-block;
	width: 82px;
	padding: 9px 0px; 
	font-size: 14px;
	line-height: 26px;
}

.html-academy a {
	display: inline-block;
	vertical-align: bottom;
	background: url(../img/academy-sprite.png);
	width: 115px;
	height: 42px;
}

.html-academy a:hover {
	background-position: 0 -48px;
}

.html-academy a:active {
	background-position: 0 -95px;
}

/*каталог*/

/*форма*/

.facilities {
	font-size: 0px;
	color: #ffffff;
	background: #749cc0 url(../img/catalog-form-bg.png);
	padding: 27px 72px 30px;
	box-sizing: border-box;
}

.facilities-item {
	display: inline-block;
	vertical-align: top;
	width: 255px;
	box-sizing: border-box;
	font-size: 14px;
}

.facilities-item h2 {
	margin:0;
	padding:0;
	margin-bottom: 25px;
	font-size: 16px;
	font-family: "PT Sans bold";
	font-weight: normal;	
}

input[type="checkbox"] {
	display: none;
}

input[type="checkbox"] + label {
	display: block;
	width: 255px;
	height: 22px;
	box-sizing: border-box;
	cursor: pointer;
	padding-left: 40px;
	margin-bottom: 24px;
	position: relative;
}

input[type="checkbox"] + label:before {
	content: "\2610";
	width: 25px;
	height: 22px;
	position: absolute;
	left: 0;
	top: 0;
	font-size: 26px;
	font-family: "symbols-sedona";
}

input[type="checkbox"]:checked + label:before {
	content: "\2611";
}

input[type="checkbox"] + label:last-child {
	margin-bottom: 0px;
}

input[type="checkbox"]:disabled + label {
	color: #6a6a6a;
}

/*ФОРМА СТОИМОСТЬ*/

.positioner {
	font-size: 0px;
	display: inline-block;
	vertical-align: top;
	width: 328px;
	box-sizing: border-box;
	text-align:right;
}

.cost-block {
	width: 546px;
	text-align: right;
	box-sizing: border-box;
}

.positioner h2{
	margin: 0;
	margin-bottom: 10px;
	padding: 0;
	text-align: left;
	font-size: 16px;
}

.border {
	border: 2px solid #ffffff;
	display: inline-block;
	border-radius: 2px;
	margin-bottom: 20px;
}

.cost-field {
	height: 32px;
	box-sizing: border-box;
	display: inline-block;
	vertical-align: top;
}

.line {
	display: inline-block;
	vertical-align: middle;
	width: 2px;
	height: 22px;
	box-sizing: border-box;
	border: 1px solid #ffffff;
	margin-top: 5px;
}

.from {
	width: 157px;
}

.to {
	width: 155px;
}

.cost-field input[type="text"] {
	display: inline-block;
	vertical-align: top;
	line-height: 32px;
	box-sizing: border-box;
	border: none;
	background: none;
	color: #ffffff;
	font-size: 14px;
	padding: 0;
	padding-left: 4px;
}

.from input[type="text"] {
	width: 75px;
}

.to input[type="text"] {
	width: 84px;
}

.cost-field label {
	display: inline-block;
	vertical-align: top;
	line-height: 32px;
	box-sizing: border-box;
	font-size: 14px;
}

.cost-field input:focus {
	outline: none;
}

.positioner button:focus {
	outline: none;
}

.from label {
	width: 82px;
}

.to label {
	width: 71px;
}

/*ПОЛОСА*/

.range-controls {
	margin-left: 10px;
	position: relative;
	margin-bottom: 32px;
}

.range-controls .scale {
	height: 2px;
	width: 317px;
	background: rgba(255, 255, 255, 0.3);
}

.range-controls .bar {
	width: 80%;
	height: 2px;
	background: #ffffff;
}

.range-toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: #ababab;
	border: 8px solid #ffffff;
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
	cursor: pointer;
}

.range-toggle:hover {
	background: #1c4f80;
}

.range-toggle-min {
	left: 0;
}

.range-toggle-max {
	left: 80%;
}

/*КНОПКА*/

.positioner button {
	padding: 0;
	padding: 6px 0 5px;
	font-size: 14px;
	width: 137px;
	border: 2px solid #ffffff;
	border-radius: 2px;
	text-align: center;
	background: none;
	color: #ffffff;
	margin-right: 96px;
}

.positioner button:hover {
	background: #ffffff;
	color: #000000;
}

/*НАЙДЕНО*/

.find-menu {
	padding: 30px 72px;
	font-size: 0px;
	border-bottom: 1px solid #e5e5e5;
}

.find-item {
	display: inline-block;
	vertical-align: bottom;
}

.find-menu .number {
	width: 164px;
}

.find-item h3 {
	font-size: 21px;
	line-height: 26px;
	margin: 0;
	font-family: "PT Sans bold";
	font-weight: normal;
}

.find-menu .sorting {
	width: 780px;
}

.sorting span {
	display: inline-block;
	vertical-align: bottom;
	font-size: 12px;
	line-height: 18px;
	width: 115px;
	padding-bottom: 2px;
	
}

.find-item ul{
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
	vertical-align: bottom;
}

.find-item li {
	display: inline-block;
	vertical-align: bottom;
	font-size: 12px;
	line-height: 18px;
	padding-bottom: 2px;
}



.sorting a {
	color: rgba(0,0,0, 0.3);
	text-decoration: none;
	border-bottom: 1px dotted #81b3d2;
}

.sorting a:hover {
	color: #81b3d2;
}

.sorting a:active {
	color: #000000;
}

.sorting li {
	width: 82px;
}

.moving {
	position: relative;
	width: 110px;
	text-align: right;
	
}

.moving i {
	font-size: 23px;
	line-height: 20px;
	color: #cccccc;
	position: absolute;
	right: -12px;
	bottom: 1px;
}

.moving i:hover {
	color: #000000;
}

.moving i:active {
	color: #81b3d2;
}

.moving .icon-up-dir {
	right: 10px;
}

.find-item .active{
	border-bottom: none;
	color: #81b3d2;
}

.find-item .active:hover{
	border-bottom: none;
	color: #81b3d2;
}


/*отели*/

.housing-item {
	font-size: 0px;
	padding: 25px 72px 30px;
	border-bottom: 1px solid #e5e5e5;
}

.housing-item .image {
	display: inline-block;
	vertical-align: bottom;
	padding-right: 30px;
	padding-top: 5px;
}

.image img {
	display: inline-block;
	vertical-align: bottom;
	width: 135px;
	height: 90px;
}

.housing-item .name {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: 780px;
}

.housing-item .rating{
	display: inline-block;
	vertical-align: bottom;
	width: 111px;
	text-align: right;	
}

.rating span{
	display: inline-block;
	vertical-align: bottom;
	text-align: center;
	width: 110px;
	padding: 3px 0px;
	background: #f2f2f2;
	font-size: 14px;
	color: #666666;
}
 
.name h1{
	margin: 0;
	padding: 0;
}

.name a {
	font-family: "PT Sans bold";
	font-weight: normal;
	text-decoration: none;
	color: #000000;
}

.name a:hover {
	color: #81b3d2;
}

.name a:active {
	color: rgba(0,0,0,0.3)
}

.name .details {
	display: inline-block;
	vertical-align: top;
	width: 116px;
	font-size: 14px;
	line-height: 21px;
}

.details span {
	display: block;
	padding: 7px 0 14px;
}

.details a{
	text-align: center;
	display: block;
	width: 110px;
	background: #81b3d2;
	text-decoration: none;
	color: #ffffff;
	font-family: "PT Sans bold";
	font-weight: normal;
	padding: 3px 0 3px;
}

.details a:hover{
	background:#669ec0;
	color: #ffffff;
}

.details a:active{
	background:#669ec0;
	color: rgba(255,255,255,0.3);
}

.book a{
	width: 142px;
	background: #766357;
	text-decoration: none;
	color: #ffffff;
}

.book a:hover{
	background:#604e43;
	color: #ffffff;
}

.book a:active{
	background:#503e33;
	color: rgba(255,255,255,0.3);
}

.rating .icon-star {
	display: inline-block;
	font-size: 19px;
	line-height: 21px;
	margin-right: -4px;
	margin-bottom:45px;
	color: #81b3d2;
}


