body {
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	font-weight: regular;
	font-family: PT Sans;
	text-transform: uppercase;
	background-color: f2f2f2;
	
}

h1 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	font-family: PT Sans;
}

.container{
	margin: 0 auto;
	width: 1200px;
	background-color: f2f2f2;
}

/*хедер*/


