body {
	font-size: 14px;
	line-height: 21px;
	color: #000000;
	font-weight: regular;
	font-family: PT Sans;
	background-color: f2f2f2;
	
}


h1 {
	font-size: 21px;
	line-height: 26px;
	color: #000000;
	font-weight: bold;
	font-family: PT Sans;
}

.container {
	margin: 0 auto;
	width: 1200px;
	background-color: f2f2f2;
}

/*хедер*/

.main-header {
	background: red;
	padding: 0 72px;
}

.main-navigation {
	background: yellow;
}

.main-navigation ul{
	margin: 0;
	padding: 0;
	list-style: none;
	
}

.main-navigation li {
	display: inline;
	background: green;
	
}


.header-logo {
	position: absolute;
	top: 0px;
	left: 640px;
	
}
